.ligne{
    width: 100%;
    display: inline-flex;
    background-color: rgb(207, 206, 206);
    height: auto;
    background-size: cover;
    background-size: cover,contain;
}
.colone1{
    display: inline-flex;
    width: 50%;
    background-color: rgb(252, 252, 252);
    margin: 9px;
}
.colone2{
    display: inline-flex;
    width: 50%;
    background-color: rgb(252, 252, 252);
    margin: 9px;
}
.tacos{
    background-color: red;
    color: white;
    width: 80px;
    height: 80px;
    margin-top: 13px;
    margin-left: 13px;
    margin-bottom: 13px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    
}
.sandwich{
    background-color: rgb(91, 252, 58);
    color: white;
    font-size: 12px;
    height: 80px;
    width: 80px;
    border: none;
    cursor: pointer;
}
.burger{
    height: 80px;
    width: 80px;
    border: none;
    background-color:rgb(160, 55, 55) ;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.extra{
    background-color: orange;
    color: white;
    font-size: 12px;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
}
.salad{
    background-color: greenyellow;
    color: white;
    font-size: 12px;
    width: 80px;
    height: 80px;
    border: none;cursor: pointer;
}
.urban{
    background-color: rgb(201, 35, 165);
    color: white;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}
.boisson{
    background-color: rgb(241, 0, 80);
    color: white;
    font-size: 12px;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
}
.dessert{
    background-color: rgb(255, 153, 0);
    color: white;
    border: none;
    font-size: 12px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.MILKSHAKE{
    background-color: rgb(110, 18, 18);
    color: white;
    border: none;
    font-size: 12px;
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 13px;
    cursor: pointer;
}
.colone1{
    height: 530px;
    display: flex;
}
.colone2{
    height: 570px;
    display: flex;
}
.facture{
    display: inline-flex;
}
.article{
    background-color: rgb(55, 153, 245);
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
.price{
    height: 50px;
    width: 361px;
    border: none;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.num{
    background-color: rgb(247, 34, 62);
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 23px;
    padding-top: 10px;
}
.button{
    margin-left: 40%;
    padding-top: 20px;
}
.delet{
    background-color: rgb(218, 80, 80);
    color: white;
    font-size: 9px;
    padding-left: 3px;
    margin-right: 3px;
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.wait{
    cursor: pointer;
    background-color: rgb(231, 163, 75);
    color: white;
    font-size: 9px;
    text-align: center;
    margin-left: 3px;
    border: none;
    width: 60px;
    height: 60px;
}
.trash{
    font-size: 15px;
    padding-bottom:5px ;
}
.tacosCard{
    
     margin:12px;
     background-color: red;
     width: 90px;
     height: 153px;
     margin-right: 2px;
}
.imgCard{
    width: 86px;
    height: 98px;
    padding-left: 4px;
    
}
.titleCard{
    color: white;
    text-align: center;
    font-size: 11px;
    padding-bottom: 0;
}
.textCard{
    color: white;
    text-align: center;
    font-size: 11px;
    padding-top: 0;
}
.btnAdd, .btnAdd2{
    background-color: red;
    border: none;
    cursor: pointer;
    
}
.btnAddcafe, .btnAdd3{
    background-color: rgb(175, 0, 23) ;
    border: none;
    cursor: pointer;
}
.btnAdd,.btnAddcafe{
    padding-left: 30%;
}
.btnAdd2, .btnAdd3{
    text-align: center;
}
.block{
    display: inline-flex;
}
.artisanal, .essentiel,.fondant,.jaffar{
     background-color: red;
     width: 80px;
     height: 90px;
     text-align: center;
     margin-top: 10px;
     margin-right: 1px;
}
.cafeCard{
    margin:12px;
    margin-left: 0px;
    background-color: rgb(175, 0, 23);
    width: 90px;
    height: 153px;
    margin-right: 0.5px;
}
.coca{
    background-color: rgb(175, 0, 23);
    width: 80px;
    height: 90px;
    text-align: center;
    margin-top: 10px;
    margin-right: 1px;
}
.tiramissuCard{
    margin:12px;
    background-color: rgb(199, 180, 13);
    width: 90px;
    height: 153px;
    margin-right: 2px;
    margin-top: 0;
    
}
.btnAddtiramissu{
    background-color: rgb(199, 180, 13) ;
    border: none;
    cursor: pointer;
    padding-left: 25%;
}
.choice{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}