.name{
    display: block;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.facturebtn{
    display: inline-flex;
    margin-left: 90px;
}
.remove{
    
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
}
.add{
    margin-left: 15px;
    background-color: green;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    
}
.factureprice{
    display: inline-flex;
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
}
.pricedata{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.price2{
    height: 30px;
    width: 300px;
    border: none;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.restedata{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.reste{
    height: 30px;
    width: 300px;
    border: none;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
th{
    padding:10px;
    color: rgb(23, 26, 182);
    font-size: 20px;
}
td{
    padding: 5px;
}